
body {
	background-image: url("https://i.pinimg.com/564x/de/a3/86/dea3862ae33c84a07a1795e958ea7edc.jpg");

}



.intro-block {
	background-color: #ffe6ff;
}

.info-block{
	background-color: #ffe6ff;

}

.suggest-block{
	background-color: #ffe6ff;

}



h1 {
	color: white;
text-align: center;
}



